body h1{
    margin-left: 50px;
    padding-top: 20px;
}
.projects{
    padding: 50px 50px 50px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: space-between;
    
    
}

.project{
    background-color: #0C1317;
    height: 450px;
    width: 300px;
    padding: 20px 20px 20px 20px;
    border: 2px solid #f0f0f5;
    border-radius: 8px;
    
    
    
}
.project:hover{
    border: 2px solid darkblue;
    cursor: pointer;
}
.project .center{
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.img{
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img img{
    width: 100%;
    height: auto;
    border: 5px solid #f0f0f5 ;
}
.title h2{
    padding: 20px 0 20px 0;
}


.tec h3{
    text-align: left;
    padding: 10px 0 10px 0;
    color: #f0f0f5;
    
}
.tec li{
    margin-left: 20px;
    text-align: left;
    font-style: italic;
}